* {
  border-color: #576268 !important;
}
a {
  color: #7fbbb3 !important;
}
a:visited {
  color: #d699b6 !important;
}
body {
  background-color: #323d43 !important;
  color: #7c8377 !important;
}
html {
  background-color: #323d43 !important;
}
input,
textarea {
  background-color: #3c474d !important;
  color: #7c8377 !important;
}
blockquote,
pre {
  background-color: #3c474d !important;
  color: #7c8377 !important;
}
.search--adv {
  background-color: #3c474d !important;
}
.search__autocomplete > .acp-wrap {
  background-color: #323d43 !important;
}
.search__autocomplete > .acp-wrap > .acp--highlight {
  background-color: #3c474d !important;
  color: #999f93 !important;
}
.search__autocomplete > .acp-wrap strong {
  color: #999f93 !important;
}
.site-wrapper > #header_wrapper {
  background-color: #323d43 !important;
}
.site-wrapper > #header_wrapper > #header {
  background-color: #323d43 !important;
}
.search--header {
  background-color: #3c474d !important;
}
.zci {
  background-color: #3c474d !important;
  color: #7c8377 !important;
}
.tile--info {
  background-color: #323d43 !important;
}
.tile--info__expand {
  background-color: #465258 !important;
}
.tile--c {
  background-color: #465258 !important;
  color: #999f93 !important;
}
.module__text {
  color: #7c8377 !important;
}
.about-info-box__heading {
  color: #868d80 !important;
}
.result.highlight {
  background-color: #3c474d !important;
}
.result__snippet {
  color: #7c8377 !important;
}
.result__snippet b {
  color: #868d80 !important;
}
.btn--top {
  background-color: #3c474d !important;
  color: #7c8377 !important;
}
.btn--top:hover {
  background-color: #465258 !important;
}
.result--sep--hr:before {
  background-color: #465258 !important;
}
