* {
  border-color: #576268 !important;
}
a {
  color: #7fbbb3 !important;
}
a:visited {
  color: #d699b6 !important;
}
body {
  background-color: #323d43 !important;
  color: #7c8377 !important;
}
html {
  background-color: #323d43 !important;
}
input,
textarea {
  background-color: #3c474d !important;
  color: #7c8377 !important;
}
blockquote,
pre {
  background-color: #3c474d !important;
  color: #7c8377 !important;
}
hr {
  background-color: #434f55 !important;
  color: #434f55 !important;
}
.bounty-indicator,
.bounty-indicator-tab {
  background-color: #d699b6 !important;
}
.bottom-notice {
  background-color: #3c474d !important;
}
.comments-link {
  color: #a7c080 !important;
}
.page-numbers {
  background-color: #a7c080 !important;
  color: #999f93 !important;
}
.page-numbers.current {
  background-color: #e69875 !important;
  color: #323d43 !important;
}
.post-menu a {
  color: #d699b6 !important;
}
.question-status {
  background-color: #3c474d !important;
}
.bg-black-050 {
  background-color: transparent !important;
}
.val-info {
  background-color: transparent !important;
  color: #7c8377 !important;
}
.s-label {
  color: #7c8377 !important;
}
pre code {
  background-color: #3c474d !important;
  color: #868d80 !important;
}
pre code .atn {
  color: #7fbbb3 !important;
}
pre code .atv {
  color: #83c092 !important;
}
pre code .com {
  color: #465258 !important;
}
pre code .kwd {
  color: #a7c080 !important;
}
pre code .lit {
  color: #d699b6 !important;
}
pre code .pln,
pre code .pun {
  color: #7c8377 !important;
}
pre code .str {
  color: #83c092 !important;
}
pre code .tag {
  color: #a7c080 !important;
}
pre code .typ {
  color: #dbbc7f !important;
}
#footer {
  background-color: #3f4b51 !important;
  color: #7c8377 !important;
}
#footer #footer-sites th {
  color: #868d80 !important;
}
.top-footer-links a {
  color: #a7c080 !important;
}
.so-header {
  background-color: #434f55 !important;
  color: #868d80 !important;
}
.so-header a {
  color: #a7c080 !important;
}
.so-header .navigation .-list .-item :hover {
  background-color: #a7c080 !important;
  color: #d3c6aa !important;
}
.topbar-dialog {
  background-color: #323d43 !important;
  box-shadow: #465258 5px 5px 5px;
}
.topbar-dialog .current-site-container {
  background-color: #323d43 !important;
}
.topbar-dialog .header {
  background-color: #3c474d !important;
}
.topbar-dialog .header a {
  color: #868d80 !important;
}
.topbar-dialog .site-link {
  color: #868d80 !important;
}
#header {
  background-color: #434f55 !important;
}
#question-header .question-hyperlink {
  color: #868d80 !important;
}
#hlogo a {
  filter: opacity(75%);
}
.new-post-activity {
  background-color: #3c474d !important;
}
.tagged-interesting {
  background-color: #434f55 !important;
}
div.answered-accepted {
  background-color: #a7c080 !important;
  color: #999f93 !important;
}
div.answered-accepted .mini-counts {
  background-color: #a7c080 !important;
  color: #999f93 !important;
}
.answered .mini-counts span {
  color: #a7c080 !important;
}
.unanswered .mini-counts span {
  color: #7c8377 !important;
}
#hot-network-questions a {
  color: #83c092 !important;
}
#hot-network-questions h4 a.js-gps-track {
  color: #868d80 !important;
}
#sidebar .community-bulletin .bulletin-item-content a {
  color: #868d80 !important;
}
#sidebar .module.community-bulletin {
  background-color: #3c474d !important;
  color: #868d80 !important;
}
#sidebar .question-hyperlink {
  color: #83c092 !important;
}
.newuser {
  background-color: #3c474d !important;
  color: #868d80 !important;
}
.label-key {
  color: #7c8377 !important;
}
.label-key b {
  color: #868d80 !important;
}
#h-chat-link {
  color: #868d80 !important;
}
.ad502-room {
  background-color: #3c474d !important;
  box-shadow: #465258 0px 1px 3px;
  color: #868d80 !important;
}
#tabs a {
  background-color: transparent !important;
  background-image: linear-gradient(to bottom, #323d43, #3c474d);
  color: #868d80 !important;
}
#tabs a.youarehere {
  background-image: linear-gradient(to bottom, #e69875, #323d43);
  color: #d3c6aa !important;
}
.post-tag {
  background-color: #465258 !important;
  color: #323d43 !important;
}
.post-tag::before {
  background-color: #323d43 !important;
}
a.comment-user.owner {
  background-color: #a7c080 !important;
  color: #999f93 !important;
}
.post-signature {
  background-color: #3c474d !important;
  color: #868d80 !important;
}
.post-signature a {
  color: #83c092 !important;
}
.post-signature.owner .user-info .user-details a {
  color: #a7c080 !important;
}
.post-signature span.relativetime {
  color: #868d80 !important;
}
.vote {
  background-color: #3c474d !important;
}
.vote .star-off {
  filter: opacity(75%);
}
.vote .star-on {
  filter: opacity(50%) !important;
}
.vote .vote-down-off,
.vote .vote-up-off {
  filter: opacity(50%);
}
.answer-votes {
  background-color: #465258 !important;
  color: #323d43 !important;
}
