* {
  border-color: #576268 !important;
}
a {
  color: #7fbbb3 !important;
}
a:visited {
  color: #d699b6 !important;
}
body {
  background-color: #323d43 !important;
  color: #7c8377 !important;
}
html {
  background-color: #323d43 !important;
}
input,
textarea {
  background-color: #3c474d !important;
  color: #7c8377 !important;
}
blockquote,
pre {
  background-color: #3c474d !important;
  color: #7c8377 !important;
}
table {
  background-color: #323d43 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table,
#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table {
  background-color: #e69875 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) a,
#hnmain > tbody:nth-child(1) > tr:nth-child(1) a {
  color: #000 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > tbody:nth-child(1) > tr:nth-child(2),
#hnmain > tbody:nth-child(1) > tr:nth-child(2) {
  background-color: #323d43 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(2) {
  background-color: #323d43 !important;
}
.title a {
  color: #7c8377 !important;
}
.title a:visited {
  color: #465258 !important;
}
a.storylink {
  color: #868d80 !important;
  font-weight: bold;
}
.sitestr {
  color: #7fbbb3 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(3) > td:nth-child(1) {
  background-color: #323d43 !important;
}
#hnmain .comhead {
  color: #868d80 !important;
}
#hnmain .c00 {
  color: #7c8377 !important;
}
#hnmain a.hnuser {
  color: #dbbc7f !important;
}
#hnmain span.age a {
  color: #465258 !important;
}
.cdd {
  color: rgba(255,161,161,0.65) !important;
}
.comment i {
  color: #d699b6 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(4) {
  background-color: #323d43 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(4) > td:nth-child(1) > table:nth-child(2) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) {
  background-color: #e69875 !important;
}
