* {
  border-color: #576268 !important;
}
a {
  color: #7fbbb3 !important;
}
a:visited {
  color: #d699b6 !important;
}
body {
  background-color: #323d43 !important;
  color: #7c8377 !important;
}
html {
  background-color: #323d43 !important;
}
input,
textarea {
  background-color: #3c474d !important;
  color: #7c8377 !important;
}
blockquote,
pre {
  background-color: #3c474d !important;
  color: #7c8377 !important;
}
* {
  border-color: #576268 !important;
}
a {
  color: #7fbbb3 !important;
}
a:visited {
  color: #d699b6 !important;
}
body {
  background-color: #323d43 !important;
  color: #7c8377 !important;
}
html {
  background-color: #323d43 !important;
}
input,
textarea {
  background-color: #3c474d !important;
  color: #7c8377 !important;
}
tr:hover,
blockquote,
pre {
  background-color: #3c474d !important;
  color: #7c8377 !important;
}
#toolMenu li {
  background-color: #323d43 !important;
}
.navPanel,
.navIntraTool {
  background-color: #323d43 !important;
}
.instruction,
.sakaiCopyrightInfo {
  color: #7c8377 !important;
}
.listHier th {
  background-color: #434f55 !important;
}
ul.makeMenu {
  background-color: #434f55 !important;
  border: 1px solid #434f55 !important;
}
tr.external {
  background-color: #434f55 !important;
}
