* {
  border-color: #576268 !important;
}
a {
  color: #7fbbb3 !important;
}
a:visited {
  color: #d699b6 !important;
}
body {
  background-color: #323d43 !important;
  color: #7c8377 !important;
}
html {
  background-color: #323d43 !important;
}
input,
textarea {
  background-color: #3c474d !important;
  color: #7c8377 !important;
}
blockquote,
pre {
  background-color: #3c474d !important;
  color: #7c8377 !important;
}
.sfbgg {
  background-color: #3c474d !important;
}
.sbib_a {
  background: linear-gradient(to bottom, #3c474d, #323d43) !important;
}
input#lst-ib,
#sb_ifc0.sbib_b,
#gs_taif0 {
  background: transparent !important;
}
#lst-ib,
.sbsb_a {
  background-color: #323d43 !important;
}
.kpbb {
  background-image: linear-gradient(to bottom, #9fccc6, #7fbbb3) !important;
}
#hdtbSum {
  background-color: #323d43 !important;
}
#hdtbMenus.hdtb-td-o {
  background-color: #323d43 !important;
}
#hdtb-tls.hdtb-tl {
  background-image: linear-gradient(to bottom, #323d43, #3c474d) !important;
}
#hdtb-tls.hdtb-tl.hdtb-tl-sel {
  background-image: linear-gradient(to bottom, #3c474d, #323d43) !important;
}
#abar_button_opt.ab_button {
  background: linear-gradient(to bottom, #323d43, #3c474d) !important;
}
#appbar {
  background-color: #323d43 !important;
}
cite {
  color: #a7c080 !important;
}
.ab_dropdown {
  background-color: #323d43 !important;
}
div.crp {
  background-color: #323d43 !important;
}
#fbar {
  background-color: #3c474d !important;
}
