* {
  border-color: #a0a79a !important;
}
a {
  color: #3a94c5 !important;
}
a:visited {
  color: #df69ba !important;
}
body {
  background-color: #5c6a72 !important;
  color: #e1ddc9 !important;
}
html {
  background-color: #5c6a72 !important;
}
input,
textarea {
  background-color: #92978c !important;
  color: #e1ddc9 !important;
}
blockquote,
pre {
  background-color: #92978c !important;
  color: #e1ddc9 !important;
}
body * {
  border-color: #8c9186 !important;
}
#content {
  background-color: #5c6a72 !important;
  color: #e1ddc9 !important;
}
#mw-head,
#mw-panel {
  background-color: #92978c !important;
  color: #e9e5cf !important;
}
#mw-head div.portal,
#mw-panel div.portal {
  background-image: none !important;
}
#mw-head {
  background-color: #92978c !important;
  background-image: linear-gradient(to bottom, #5c6a72, #92978c) !important;
}
#mw-panel,
#p-logo {
  background-image: linear-gradient(to right, #5c6a72, #92978c) !important;
}
div.vectorTabs {
  background-image: linear-gradient(to bottom, #5c6a72, #92978c) !important;
}
div.vectorTabs ul {
  background-image: linear-gradient(to bottom, #5c6a72, #92978c) !important;
}
div.vectorTabs ul li {
  background-color: #92978c !important;
  background-image: none !important;
  padding: 0px 1px 0px 1px !important;
}
div.vectorTabs span {
  background-color: #92978c !important;
  background-image: linear-gradient(to bottom, #5c6a72, #92978c) !important;
}
div.vectorTabs li.selected,
div.vectorTabs li.selected span {
  background-color: transparent !important;
  background-image: linear-gradient(to bottom, #92978c, #5c6a72) !important;
}
.mw-wiki-logo {
  filter: opacity(50%);
}
div#simpleSearch #searchInput {
  background-color: #5c6a72 !important;
  padding: 0.05em 0px 0.2em 0.2em !important;
}
.ambox,
.infobox,
#toc,
#toctitle,
.toclevel-1 {
  background-color: #92978c !important;
  border-color: #8c9186 !important;
  color: #e9e5cf !important;
}
.catlinks {
  background-color: #92978c !important;
  border-color: #8c9186 !important;
  color: #e9e5cf !important;
}
.navbox {
  background-color: #92978c !important;
  border-color: #8c9186 !important;
  color: #e9e5cf !important;
}
.navbox .th,
.navbox .navbox-title {
  background-color: #8c9186 !important;
}
.navbox-abovebelow,
th.navbox-group,
.navbox-subgroup,
.navbox-title {
  background-color: #8f9489 !important;
}
.navbox-even {
  background-color: #5c6a72 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  border-color: #8c9186 !important;
  color: #e9e5cf !important;
}
code {
  background-color: #8c9186 !important;
  border-color: #8c9186 !important;
  color: #e9e5cf !important;
}
div.thumbinner {
  background-color: #92978c !important;
  border-color: #8c9186 !important;
}
img {
  filter: opacity(75%);
}
img.thumbimage {
  border-color: #8c9186 !important;
}
.mw-body .external {
  opacity: 0.5 !important;
}
table.wikitable {
  background-color: #5c6a72 !important;
  border-color: #8c9186 !important;
  color: #e1ddc9 !important;
}
table.wikitable > * > tr > th {
  background-color: #92978c !important;
}
