* {
  border-color: #a0a79a !important;
}
a {
  color: #3a94c5 !important;
}
a:visited {
  color: #df69ba !important;
}
body {
  background-color: #5c6a72 !important;
  color: #e1ddc9 !important;
}
html {
  background-color: #5c6a72 !important;
}
input,
textarea {
  background-color: #92978c !important;
  color: #e1ddc9 !important;
}
blockquote,
pre {
  background-color: #92978c !important;
  color: #e1ddc9 !important;
}
.search--adv {
  background-color: #92978c !important;
}
.search__autocomplete > .acp-wrap {
  background-color: #5c6a72 !important;
}
.search__autocomplete > .acp-wrap > .acp--highlight {
  background-color: #92978c !important;
  color: #efead4 !important;
}
.search__autocomplete > .acp-wrap strong {
  color: #efead4 !important;
}
.site-wrapper > #header_wrapper {
  background-color: #5c6a72 !important;
}
.site-wrapper > #header_wrapper > #header {
  background-color: #5c6a72 !important;
}
.search--header {
  background-color: #92978c !important;
}
.zci {
  background-color: #92978c !important;
  color: #e1ddc9 !important;
}
.tile--info {
  background-color: #5c6a72 !important;
}
.tile--info__expand {
  background-color: #999f93 !important;
}
.tile--c {
  background-color: #999f93 !important;
  color: #efead4 !important;
}
.module__text {
  color: #e1ddc9 !important;
}
.about-info-box__heading {
  color: #e9e5cf !important;
}
.result.highlight {
  background-color: #92978c !important;
}
.result__snippet {
  color: #e1ddc9 !important;
}
.result__snippet b {
  color: #e9e5cf !important;
}
.btn--top {
  background-color: #92978c !important;
  color: #e1ddc9 !important;
}
.btn--top:hover {
  background-color: #999f93 !important;
}
.result--sep--hr:before {
  background-color: #999f93 !important;
}
