* {
  border-color: #a0a79a !important;
}
a {
  color: #3a94c5 !important;
}
a:visited {
  color: #df69ba !important;
}
body {
  background-color: #5c6a72 !important;
  color: #e1ddc9 !important;
}
html {
  background-color: #5c6a72 !important;
}
input,
textarea {
  background-color: #92978c !important;
  color: #e1ddc9 !important;
}
blockquote,
pre {
  background-color: #92978c !important;
  color: #e1ddc9 !important;
}
.sfbgg {
  background-color: #92978c !important;
}
.sbib_a {
  background: linear-gradient(to bottom, #92978c, #5c6a72) !important;
}
input#lst-ib,
#sb_ifc0.sbib_b,
#gs_taif0 {
  background: transparent !important;
}
#lst-ib,
.sbsb_a {
  background-color: #5c6a72 !important;
}
.kpbb {
  background-image: linear-gradient(to bottom, #6bafd4, #3a94c5) !important;
}
#hdtbSum {
  background-color: #5c6a72 !important;
}
#hdtbMenus.hdtb-td-o {
  background-color: #5c6a72 !important;
}
#hdtb-tls.hdtb-tl {
  background-image: linear-gradient(to bottom, #5c6a72, #92978c) !important;
}
#hdtb-tls.hdtb-tl.hdtb-tl-sel {
  background-image: linear-gradient(to bottom, #92978c, #5c6a72) !important;
}
#abar_button_opt.ab_button {
  background: linear-gradient(to bottom, #5c6a72, #92978c) !important;
}
#appbar {
  background-color: #5c6a72 !important;
}
cite {
  color: #8da101 !important;
}
.ab_dropdown {
  background-color: #5c6a72 !important;
}
div.crp {
  background-color: #5c6a72 !important;
}
#fbar {
  background-color: #92978c !important;
}
