* {
  border-color: #a0a79a !important;
}
a {
  color: #3a94c5 !important;
}
a:visited {
  color: #df69ba !important;
}
body {
  background-color: #5c6a72 !important;
  color: #e1ddc9 !important;
}
html {
  background-color: #5c6a72 !important;
}
input,
textarea {
  background-color: #92978c !important;
  color: #e1ddc9 !important;
}
blockquote,
pre {
  background-color: #92978c !important;
  color: #e1ddc9 !important;
}
* {
  border-color: #a0a79a !important;
}
a {
  color: #3a94c5 !important;
}
a:visited {
  color: #df69ba !important;
}
body {
  background-color: #5c6a72 !important;
  color: #e1ddc9 !important;
}
html {
  background-color: #5c6a72 !important;
}
input,
textarea {
  background-color: #92978c !important;
  color: #e1ddc9 !important;
}
tr:hover,
blockquote,
pre {
  background-color: #92978c !important;
  color: #e1ddc9 !important;
}
#toolMenu li {
  background-color: #5c6a72 !important;
}
.navPanel,
.navIntraTool {
  background-color: #5c6a72 !important;
}
.instruction,
.sakaiCopyrightInfo {
  color: #e1ddc9 !important;
}
.listHier th {
  background-color: #8c9186 !important;
}
ul.makeMenu {
  background-color: #8c9186 !important;
  border: 1px solid #8c9186 !important;
}
tr.external {
  background-color: #8c9186 !important;
}
