* {
  border-color: #a0a79a !important;
}
a {
  color: #3a94c5 !important;
}
a:visited {
  color: #df69ba !important;
}
body {
  background-color: #5c6a72 !important;
  color: #e1ddc9 !important;
}
html {
  background-color: #5c6a72 !important;
}
input,
textarea {
  background-color: #92978c !important;
  color: #e1ddc9 !important;
}
blockquote,
pre {
  background-color: #92978c !important;
  color: #e1ddc9 !important;
}
tr.Even {
  background-color: #92978c !important;
}
.BigQuote {
  background-color: #92978c !important;
  color: #f57d26 !important;
}
.Cat1HL {
  background-color: #999f93 !important;
  color: #e9e5cf !important;
}
.Cat2HL {
  background-color: #8c9186 !important;
}
.Cat3HL {
  background-color: #8f9489 !important;
}
.FeatureByline {
  background-color: #92978c !important;
  border: none !important;
}
.Headline {
  background-color: #8c9186 !important;
}
.QuotedText {
  color: #df69ba !important;
}
DIV.GAByline {
  background-color: #92978c !important;
  border: none !important;
}
table.OddEven tr:nth-child(even) {
  background-color: #5a6870 !important;
}
table.OddEven tr:nth-child(odd) {
  background-color: #5c6a72 !important;
}
DIV.CommentBox {
  border-color: #92978c !important;
}
DIV.CommentBox P.CommentTitle {
  background-color: #8c9186 !important;
}
#menu,
.topnav-container {
  background-color: #92978c !important;
}
.navmenu ul {
  background-color: #92978c !important;
}
