# Configs to ignore
.config/glib-2.0/
.config/vdirsyncer/
.config/msmtp/*.log
.config/autorandr/
.config/cmus/cache
.config/cmus/command-history
.config/cmus/lib.pl
.config/cmus/playlists/
.config/cmus/search-history
.config/git/
.config/gtk-3.0/
.config/herbstluftwm/sessions/
.config/herbstluftwm/scripts/old/
.config/hplip/
.config/mutt/accounts/
.config/mutt/.mailsynclastrun
.config/mutt/signature
.config/newsboat/history.cmdline
.config/newsboat/urls
.config/polybar/polybar-scripts/old
.config/qutebrowser/bookmarks/
.config/qutebrowser/host_block
.config/qutebrowser/quickmarks
.config/qutebrowser/alduin/__pycache__/
.config/old/
.config/pam-gnupg
.config/ranger/plugins/
.config/task/*.data
.config/vim/autoload/
.config/vim/plugged/
.config/weechat/logs/
.config/weechat/script/
.config/weechat/sec.conf
.config/weechat/irc.conf
.config/weechat/plugins.conf
.config/weechat/relay.conf
.config/weechat/weecord.conf
.config/weechat/weechat.log
.config/weechat/weechat.conf
.config/weechat/python/
.config/weechat/perl/
.config/zsh/gitstatus/
.config/zsh/.histfile
.config/zsh/.zcompdump

# Scripts to ignore
.local/bin/old/

# Service folders to ignore
.local/service/*/supervise/
.local/service/*/log/
