# Configs to ignore
.config/vdirsyncer
.config/msmtp
.config/autorandr
.config/git
.config/gtk-3.0
.config/hplip
.config/isync
.config/mutt/accounts
.config/mutt/.mailsynclastrun
.config/mutt/signature
.config/newsboat/history.cmdline
.config/newsboat/urls
.config/old
.config/pam-gnupg
.config/ranger/plugins
.config/task/*.data
.config/vim/autoload
.config/vim/plugged
.config/weechat
.config/zsh/gitstatus
.config/zsh/.histfile
.config/zsh/.zcompdump

# Scripts to ignore
.local/bin/old
