@import "/home/barbaross/.mozilla/firefox/j7zjgx6b.default-release/startpage/colors.css";


/** {
	font-family: "Inconsolata";
	font-size: 20px;
}*/

html {
    /*font-size: 18px;*/
    /*font-family: 'Roboto Mono', monospace;*/
    /*font-weight: black;*/
    background-color: var(--background);
    color: var(--foreground);
}

.box {
    width: 700px;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    position: absolute;
}

.categories {
    float: left;
    margin 0;
    width: 20%;
    text-align: left;
}

.items {
    float: left;
    margin 0;
    width: 80%;
    text-align: left;
}

.lst {
    /*padding: 5px;*/
}

a {
    text-decoration: none;
}

a:link {
    color: var(--foreground);
}

a:hover {
    font-weight: 700;
}

a:visited {
    color: var(--foreground);
}

.cat {
    font-weight: 700;
}
