* {
  border-color: #e4c9af !important;
}
a {
  color: #7fa5bd !important;
}
a:visited {
  color: #d7beda !important;
}
body {
  background-color: #1c1c1c !important;
  color: #a1bdce !important;
}
html {
  background-color: #1c1c1c !important;
}
input,
textarea {
  background-color: #2f2e2d !important;
  color: #a1bdce !important;
}
blockquote,
pre {
  background-color: #2f2e2d !important;
  color: #a1bdce !important;
}
.post-actions {
  background-color: #2f2e2d !important;
}
.textarea-wrapper {
  background-color: #1c1c1c !important;
  color: #a1bdce !important;
}
