* {
  border-color: #e4c9af !important;
}
a {
  color: #7fa5bd !important;
}
a:visited {
  color: #d7beda !important;
}
body {
  background-color: #1c1c1c !important;
  color: #a1bdce !important;
}
html {
  background-color: #1c1c1c !important;
}
input,
textarea {
  background-color: #2f2e2d !important;
  color: #a1bdce !important;
}
blockquote,
pre {
  background-color: #2f2e2d !important;
  color: #a1bdce !important;
}
.sfbgg {
  background-color: #2f2e2d !important;
}
.sbib_a {
  background: linear-gradient(to bottom, #2f2e2d, #1c1c1c) !important;
}
input#lst-ib,
#sb_ifc0.sbib_b,
#gs_taif0 {
  background: transparent !important;
}
#lst-ib,
.sbsb_a {
  background-color: #1c1c1c !important;
}
.kpbb {
  background-image: linear-gradient(to bottom, #9fbcce, #7fa5bd) !important;
}
#hdtbSum {
  background-color: #1c1c1c !important;
}
#hdtbMenus.hdtb-td-o {
  background-color: #1c1c1c !important;
}
#hdtb-tls.hdtb-tl {
  background-image: linear-gradient(to bottom, #1c1c1c, #2f2e2d) !important;
}
#hdtb-tls.hdtb-tl.hdtb-tl-sel {
  background-image: linear-gradient(to bottom, #2f2e2d, #1c1c1c) !important;
}
#abar_button_opt.ab_button {
  background: linear-gradient(to bottom, #1c1c1c, #2f2e2d) !important;
}
#appbar {
  background-color: #1c1c1c !important;
}
cite {
  color: #90a57d !important;
}
.ab_dropdown {
  background-color: #1c1c1c !important;
}
div.crp {
  background-color: #1c1c1c !important;
}
#fbar {
  background-color: #2f2e2d !important;
}
