* {
  border-color: #e4c9af !important;
}
a {
  color: #7fa5bd !important;
}
a:visited {
  color: #d7beda !important;
}
body {
  background-color: #1c1c1c !important;
  color: #a1bdce !important;
}
html {
  background-color: #1c1c1c !important;
}
input,
textarea {
  background-color: #2f2e2d !important;
  color: #a1bdce !important;
}
blockquote,
pre {
  background-color: #2f2e2d !important;
  color: #a1bdce !important;
}
table {
  background-color: #1c1c1c !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table,
#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table {
  background-color: #d78787 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) a,
#hnmain > tbody:nth-child(1) > tr:nth-child(1) a {
  color: #000 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > tbody:nth-child(1) > tr:nth-child(2),
#hnmain > tbody:nth-child(1) > tr:nth-child(2) {
  background-color: #1c1c1c !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(2) {
  background-color: #1c1c1c !important;
}
.title a {
  color: #a1bdce !important;
}
.title a:visited {
  color: #afbea2 !important;
}
a.storylink {
  color: #b1e7dd !important;
  font-weight: bold;
}
.sitestr {
  color: #7fa5bd !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(3) > td:nth-child(1) {
  background-color: #1c1c1c !important;
}
#hnmain .comhead {
  color: #b1e7dd !important;
}
#hnmain .c00 {
  color: #a1bdce !important;
}
#hnmain a.hnuser {
  color: #d7af87 !important;
}
#hnmain span.age a {
  color: #afbea2 !important;
}
.cdd {
  color: rgba(236,142,142,0.65) !important;
}
.comment i {
  color: #d7beda !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(4) {
  background-color: #1c1c1c !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(4) > td:nth-child(1) > table:nth-child(2) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) {
  background-color: #d78787 !important;
}
